<?xml version="1.0" encoding="UTF-8"?>
<config version="2"
        xmlns="http://mediatomb.cc/config/2"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://mediatomb.cc/config/2 http://mediatomb.cc/config/2.xsd">
    <server>
        <ui enabled="yes" show-tooltips="yes">
            <accounts enabled="no" session-timeout="30">
                <account user="gerbera" password="gerbera"/>
            </accounts>
        </ui>
        <port>49152</port>
        <udn>uuid:a66ce585-631e-4ab1-a026-d7dbdeda5c7c</udn>
        <name>Gerbera&lt;docker&gt;</name>
        <home>/root/.config/gerbera</home>
        <webroot>/usr/local/share/gerbera/web</webroot>
        <alive>1800</alive>
        <pc-directory upnp-hide="yes"/>
        <storage>
            <sqlite3 enabled="yes">
                <database-file>/root/.config/gerbera/gerbera.db</database-file>
            </sqlite3>
            <mysql enabled="no">
                <host>database</host>
                <username>gerbera</username>
                <password>gerbera</password>
                <database>gerbera</database>
            </mysql>
        </storage>
	<protocolInfo extend="yes" />
        <extended-runtime-options>
            <ffmpegthumbnailer enabled="yes">
                <thumbnail-size>128</thumbnail-size>
                <seek-percentage>10</seek-percentage>
                <workaround-bugs>no</workaround-bugs>
                <image-quality>8</image-quality>
            </ffmpegthumbnailer>
            <mark-played-items enabled="yes" suppress-cds-updates="yes">
                <string mode="append">*</string>
                <mark>
                    <content>video</content>
                </mark>
            </mark-played-items>
        </extended-runtime-options>
    </server>
    <import hidden-files="no">
        <filesystem-charset>UTF-8</filesystem-charset>
        <metadata-charset>UTF-8</metadata-charset>
        <scripting script-charset="UTF-8">
            <virtual-layout type="builtin">
                <import-script>/usr/local/share/gerbera/js/import.js</import-script>
            </virtual-layout>
        </scripting>
        <autoscan use-notiry="auto">
            <directory location="/srv/movie" mode="timed" interval="3600" recursive="yes" hidden-files="no"/>
        </autoscan>
        <layout parent-path="yes">
            <path from="([0-9]{4})(.Q) (.*)" to="Year/$1/$2/$3"/>
            <path from="([0-9]{4})([0-9]{2}) (.*)" to="Year/$1/$2/$3"/>
        </layout>
        <resources case-sensitive="yes">
            <subtitle>
                <add-file name="%filename%.ass"/>
            </subtitle>
        </resources>
        <mappings>
            <extension-mimetype ignore-unknown="no">
                <map from="mp3" to="audio/mpeg"/>
                <map from="mp4" to="video/mpeg"/>
                <map from="m4a" to="audio/mpeg"/>
                <map from="ogx" to="application/ogg"/>
                <map from="ogv" to="video/ogg"/>
                <map from="oga" to="audio/ogg"/>
                <map from="ogg" to="audio/ogg"/>
                <map from="ogm" to="video/ogg"/>
                <map from="asf" to="video/x-ms-asf"/>
                <map from="asx" to="video/x-ms-asf"/>
                <map from="wma" to="audio/x-ms-wma"/>
                <map from="wax" to="audio/x-ms-wax"/>
                <map from="wmv" to="video/x-ms-wmv"/>
                <map from="wvx" to="video/x-ms-wvx"/>
                <map from="wm" to="video/x-ms-wm"/>
                <map from="wmx" to="video/x-ms-wmx"/>
                <map from="m3u" to="audio/x-mpegurl"/>
                <map from="pls" to="audio/x-scpls"/>
                <map from="flv" to="video/x-flv"/>
                <map from="mkv" to="video/x-matroska"/>
                <map from="mka" to="audio/x-matroska"/>
                <map from="dsf" to="audio/x-dsd"/>
                <map from="dff" to="audio/x-dsd"/>
                <map from="wv" to="audio/x-wavpack"/>
                <!-- Uncomment the line below for PS3 divx support -->
                <!-- <map from="avi" to="video/divx" /> -->
                <!-- Uncomment the line below for D-Link DSM / ZyXEL DMA-1000 -->
                <!-- <map from="avi" to="video/avi" /> -->
            </extension-mimetype>
            <mimetype-upnpclass>
                <map from="audio/*" to="object.item.audioItem.musicTrack"/>
                <map from="video/*" to="object.item.videoItem"/>
                <map from="image/*" to="object.item.imageItem"/>
                <map from="application/ogg" to="object.item.audioItem.musicTrack"/>
            </mimetype-upnpclass>
            <mimetype-contenttype>
                <treat mimetype="audio/mpeg" as="mp3"/>
                <treat mimetype="application/ogg" as="ogg"/>
                <treat mimetype="audio/ogg" as="ogg"/>
                <treat mimetype="audio/x-flac" as="flac"/>
                <treat mimetype="audio/flac" as="flac"/>
                <treat mimetype="audio/x-ms-wma" as="wma"/>
                <treat mimetype="audio/x-wavpack" as="wv"/>
                <treat mimetype="image/jpeg" as="jpg"/>
                <treat mimetype="audio/x-mpegurl" as="playlist"/>
                <treat mimetype="audio/x-scpls" as="playlist"/>
                <treat mimetype="audio/x-wav" as="pcm"/>
                <treat mimetype="audio/L16" as="pcm"/>
                <treat mimetype="video/x-msvideo" as="avi"/>
                <treat mimetype="video/mp4" as="mp4"/>
                <treat mimetype="audio/mp4" as="m4a"/>
                <treat mimetype="video/x-matroska" as="mkv"/>
                <treat mimetype="audio/x-matroska" as="mka"/>
                <treat mimetype="audio/x-dsd" as="dsd"/>
            </mimetype-contenttype>
        </mappings>
        <online-content></online-content>
    </import>
    <transcoding enables="no"/>
</config>
